/* ===========================
   3カードの横並び
=========================== */

.summary-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 35px;
}

.summary-card-3 {
    width: 32%;
    background: #fff;
    border-radius: 14px;
    padding: 28px 22px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
    text-align: center;
}

.summary-title {
    font-size: 14px;
    color: #888;
    margin-bottom: 8px;
}

.summary-value-big {
    font-size: 40px;
    font-weight: bold;
}

.summary-unit {
    font-size: 18px;
    color: #777;
}



/* ===========================
   検索フォーム
=========================== */

.search-card {
    background: #fff;
    padding: 22px 28px;
    border-radius: 12px;
    margin-bottom: 35px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
}

.search-form-row {
    display: flex;
    align-items: center;
    gap: 14px;
}

.search-item label {
    font-size: 12px;
    color: #555;
}

.search-item input {
    padding: 6px 10px;
    width: 140px;
}

.search-tilde {
    font-size: 22px;
    margin: 0 6px;
}

.btn-search {
    padding: 7px 18px;
    background: #666;
    color: #fff;
    border-radius: 6px;
    border: none;
}



/* ===========================
   体重ログ
=========================== */

.list-card {
    background: #fff;
    padding: 25px 28px;
    border-radius: 14px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
}

.list-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;
}

.list-title {
    font-weight: bold;
    font-size: 18px;
}

.btn-add-data {
    background: #ff66c4;
    color: #fff;
    padding: 9px 18px;
    border-radius: 8px;
    text-decoration: none;
}

.log-table {
    width: 100%;
    border-collapse: collapse;
}

.log-table th {
    text-align: left;
    padding-bottom: 10px;
    border-bottom: 2px solid #eee;
    font-weight: bold;
}

.log-table td {
    padding: 12px 0;
    border-bottom: 1px solid #f5f5f5;
}

.edit-icon {
    color: #cc66cc;
    font-size: 18px;
    text-decoration: none;
}

.no-data {
    text-align: center;
    padding: 30px 0;
}



/* ===========================
   ページネーション
=========================== */

.pagination-area {
    margin-top: 20px;
    text-align: center;
}
/* ===========================
   Deleteボタン　カーソル
=========================== */
.delete-icon {
    cursor: pointer;
}

/* ===== Pagination 横並び調整 ===== */
.pagination {
    display: flex !important;
    justify-content: center;
    padding: 12px 0;
}

.page-item {
    margin: 0 3px;
}

.page-link {
    padding: 6px 12px;
}